<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: linear-gradient(90deg,rgba(173, 197, 255, 1) 22%, rgba(89, 184, 240, 1) 53%, rgba(128, 150, 237, 1) 100%); padding: 20px; min-height: 100vh; display: flex; align-items: center; justify-content: center;">

<div class="container">
  <h1>As - is </h1>
  <h2>Set Credit Limit</h2>
  <input
    type="range"
    id="volume"
    min="100"
    [max]="maxLimit"
    [(ngModel)]="limit"
  />
<p>Limit: {{ limit }}</p>
  <button type="button" class="btn btn-success" (click)="callingLimitSetService()">Set Limit</button>  
  <h3>{{responseDesc}}</h3> 


    <button type="button" class="btn btn-primary" style="margin:5px;" routerLink="/as-is/card-issue">Next</button>
    <button type="button" class="btn btn-primary" style="margin:5px;" routerLink="/as-is/decission">Back</button>
  <button type="button" class="btn btn-primary" style="margin:5px;" routerLink="/as-is">End</button>
  </div>
</body>
</html>