<app-application-comp *ngIf="route==='/as-is'"></app-application-comp>
<app-card-activation-comp *ngIf="route==='/as-is/activation'"></app-card-activation-comp> 

<app-app-card-dispatch *ngIf="route==='/as-is/dispatch'"></app-app-card-dispatch>
<app-app-card-issuance *ngIf="route==='/as-is/issuance'"></app-app-card-issuance>
<app-app-credit-limit *ngIf="route==='/as-is/limit'"></app-app-credit-limit>
<app-app-decission *ngIf="route==='/as-is/decission'"></app-app-decission>
<app-app-internal-check *ngIf="route==='/as-is/internal-check'"></app-app-internal-check>
<app-app-verification *ngIf="route==='/as-is/verification'"></app-app-verification>
<app-app-card-assesment *ngIf="route==='/as-is/assesment'"></app-app-card-assesment>

<app-app-tobe-application *ngIf="route==='/to-be'"></app-app-tobe-application>

<router-outlet></router-outlet>